<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
    <style>
      /* We want previews included so at least the TeX source is visible to clients
         without Javascript, or without network connection
         (new option in kramdown 1.6, enabled in _config.yml)
         but we hide them if math rendering completes sucessfully. */
      .MathJax_Preview { color: #888 }
      .math_finished .MathJax_Preview { display: none }
    </style>
  </head>
  <body>
{{ content }}
  </body>
  <script>
    // We don't use the KaTeX auto-render extension.
    // Kramdown already did the work of detecting math (safely, no syntax confusions),
    // we just need to process those it detected.
    var scripts = document.getElementsByTagName("script");
    for (var i = 0; i < scripts.length; i++) {
      /* TODO: keep going after an individual parse error. */
      var script = scripts[i];
      if (script.type.match(/^math\/tex/)) {
        var text = script.text === "" ? script.innerHTML : script.text;
        var options = script.type.match(/mode\s*=\s*display/) ?
                      {displayMode: true} : {};
        script.insertAdjacentHTML("beforebegin",
                                  katex.renderToString(text, options));
      }
    }
    document.body.className += " math_finished";
  </script>
</html>
